# Security
.env

# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
*.egg-info

# System
.DS_Store

# Docker Configs (not needed locally in the container)
docker-compose.yml
Dockerfile
publish.sh

# Documentation
README.md

# Project Specific
catch/

mysql_data
